{% extends "admin/base.html" %}
{% load admin_static %}
{% load i18n %}
<!-- 可以在这个页面添加自定义的js和css，因为本次项目没有用到，所以删除了相关代码。 -->

<!-- footer下左边的链接 -->
{% block footer_links %}
  <a href="http://sccc.edu.cn" class="icon"><i class="icon-home"></i>{% trans 'sccc home' %}</a>
  <a href="http://xxgcx.sccc.edu.cn/" class="icon"><i class="icon-tag"></i>{% trans 'szjj home' %}</a>
{% endblock %}


<!-- footer下右边的版权信息 -->
{% block copyright %}
  {% trans "copyright" %}&copy; 2016-2024 {% trans "szjj.info" %} <br>
  {% trans "developed" %} by {% trans "info.trainning class" %}
{% endblock %}